<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <description>Spring Quartz</description>
    <!-- 动态定时器配置 -->
    <bean id="schedulerFactoryBean"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean"/>
    <!--加载可执行的任务-->
    <bean id="loadTask" class="com.demo.java.core.quartz.LoadTask" init-method="initTask"/>
</beans>