<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/images/favicon.ico">
<title>爬虫后台</title>
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/dashboard.css" rel="stylesheet">
<!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
<!--[if lt IE 9]>
<script src="/js/ie/ie8-responsive-file-warning.js"></script><![endif]-->
<script src="/js/ie/ie-emulation-modes-warning.js"></script>
<!--[if lt IE 9]>
<script src="/js/html5shiv/html5shiv.min.js"></script>
<script src="/js/respond/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="/css/dataTables.bootstrap.css">